/* Start Variables */

:root {
    --paragraph-font: 'Lexend Deca', sans-serif;
    --heading-font: 'Big Shoulders Display', cursive;
    --back-color-one: hsl(31, 77%, 52%);
    --back-color-two: hsl(184, 100%, 22%);
    --back-color-three: hsl(179, 100%, 13%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --heading-color: hsl(0, 0%, 95%);
}

/* End Variables */

/* Start Global Rules */ 

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

/* End Global Rules */

/* Start Components */

.heading {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-weight: 400;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.element {
    margin-left: 40px;
}

.page .project .box .p h1 + p {
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    font-size: 13px;
    margin-right: 50px;
    line-height: 1.8;
    margin-bottom: 100px;
}

/* End Components */

/* Start Project */

.page {
    background-color: #eee;
}

.container {
    width: auto;
    height: 100vh;
}

@media (max-width:1000px) {
    .container {
        height: auto;
    }
}

.page .project {
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 1000px) {
    .page .project {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

.page .project .box-1 {
    background-color: var(--back-color-one);
    border-radius: 10px 0 0 10px;
}

@media (max-width:1000px) {
    .page .project .box-1 {
        border-radius: 10px 10px 0 0;
    }
}

.page .project .box-2 {
    background-color: var(--back-color-two);
}

.page .project .box-3 {
    background-color: var(--back-color-three);
    border-radius: 0 10px 10px 0;
}

@media (max-width:1000px) {
    .page .project .box-3 {
        border-radius: 0 0 10px 10px;
    }
}

.page .project .box .image {
    margin-top: 40px;
}

.page .project .link {
    background-color: white;
    width: 150px;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 75px;
    text-align: center;
    border: 2px solid white;
    position: absolute;
    bottom: 20px;
}

@media (max-width:1000px) {
    .page .project .link {
        width: 100px;
        font-size: 10px;
        margin-top: 30px;
        padding: 12px;
    }
}

.page .project .link:hover {
    background-color: transparent;
}

.page .project .box-1 .link a {
    color: var(--back-color-one);
}

.page .project .box-2 .link a {
    color: var(--back-color-two);
}

.page .project .box-3 .link a {
    color: var(--back-color-three);
}

.page .project .link:hover a{
    color: white;
}

/* End Project */